// Pour pouvoir utiliser les imports exemple : import express from 'express';
// Etape 1
// yarn add @babel/core @babel/cli @babel/preset-env @babel/node --dev
// Etape 2
// dans package .json mettre nodemon --exec babel-node server.js
{
    "presets": [
      "@babel/preset-env"
    ]
}